h1 a, h2 a {
    color: #FF8833;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #EAE7DC;
    padding-left: 0px;
}

.page-header {
    background-color: #D8C3A5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #333;
    font-size: 60pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 2px #aaa;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #333;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 20px;
}

.btn {
  float: right;
  font-size: 10pt;
}

.card-footer {
  font-size: 10pt;
  font-style: italic;
}

.card-text {
  font-size: 12pt;
  margin-top: 20px;
}

.card-text2 {
  font-size: 12pt;
  margin-top: 20px;
}

.card-text3 {
  font-size: 12pt;
  font-weight: bold;
}

.card {
  background-color: #FCFAF7;
}

.subheading h1 {
  font-size: 50pt;
  color: #333;
}

.card-body h2 a {
  color: #333;
  font-size: 20pt;
}

.card-body h3 {
  color: #333;
  font-size: 30pt;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
    font-size: 40pt;
}

.readmorebutton {
  background-color: #D8C3A5;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8pt;
}

.readmorebutton:hover {
  background-color: #D8C3A5;
  color: #333;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navmenu {
  background-color: #333;
  overflow: hidden;
}

.navmenu a {
  float: left;
  color: #FCFAF7;
  font-size: 15px;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none; #doesnt underline
}

.navmenu a:hover {
  background-color: #333;
  color: #C25100;
}

.navmenu a.active {
  background-color: #D8C3A5;
  color: #333;
  text-shadow: 2px 2px 2px #aaa;
  font-weight: bold;
}
